* {
	border: 0;
	margin: 0;
	padding: 0;
	outline: none;
	text-decoration: none;
	box-sizing: border-box;
	transition: 0.4s;
}
body {
	padding: 10px;
}

.menu {
	width: 100%;
	height: 100vh;
	display: none;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 1rem;
}
.menu.active {
	display: flex;
}
.menu .start {
	width: 280px;
	height: 50px;
	background-color: #333;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: antiquewhite;
	font-size: 1.4rem;
	cursor: pointer;
}
.menu .rules {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: white;
	font-weight: 400;
	font-size: 1rem;
	cursor: pointer;
	overflow: scroll;
	text-align: center;
	overflow-wrap: break-word;
	hyphens: manual;
}
.menu .rule span {
	overflow-wrap: break-word;
	color: purple;
	font-weight: 900;
}
.menu .rules .rule.rulehead span {
	color: #333;
	font-weight: 900;
	font: 2rem sans-serif;
}
.game__page {
	width: 100%;
	height: 100vh;
	display: none;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 1rem;
}
.game__page.active {
	display: flex;
}

.game__page p.moves__number {
	font-size: 2rem;
	font-weight: 500;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #333;
	text-align: center;
}
.board {
	width: 450px;
	height: 450px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	overflow: hidden;
}
.board .row {
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.board .row:nth-child(3) {
	margin-bottom: 0.25rem;
}
.board .row:nth-child(6) {
	margin-bottom: 0.25rem;
}
.cube__for__number {
	width: 60px;
	height: 100%;
	border: 1px solid white;
	background-color: rgba(0, 0, 0, 0.671);
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 1.5rem;
}
.cube__for__number:nth-child(4) {
	margin-left: 0.25rem;
}
.cube__for__number:nth-child(7) {
	margin-left: 0.25rem;
}
.numbers__for__selection {
	width: 540px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.numbers__for__selection div {
	width: 60px;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.925);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	border: 1px solid;
	color: white;
	cursor: pointer;
}
.numbers__for__selection div:nth-child(1) {
	border: 4px white;
	border-style: dashed;
}
@media screen and (max-width: 572px) {
	.board {
		width: 360px;
		height: 360px;
	}
	.cube__for__number {
		width: 40px;
	}
	.board .row {
		height: 40px;
	}
	.numbers__for__selection {
		width: 100%;
	}
}
@media screen and (max-width: 450px) {
	.numbers__for__selection div {
		height: 40px;
	}
	.board {
		width: 320px;
		height: 320px;
	}
	.cube__for__number {
		width: 30px;
	}
	.board .row {
		height: 30px;
	}
	.menu .rules p {
		font-size: 0.7rem;
	}
}
