* {
  border: 0;
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  transition: 0.4s;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif !important;
}
body {
  background-color: #1d1d1f;
}
.menu {
  width: 100%;
  min-height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.menu.active {
  display: flex;
}
.menu .start {
  width: 280px;
  height: 50px;
  background-color: rgb(17, 17, 17);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 1.4rem;
  cursor: pointer;
}
.menu .descriptions {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-weight: 400;
  font-size: 1rem;
  cursor: pointer;
  overflow-y: scroll;
  text-align: center;
  overflow-wrap: break-word;
  hyphens: manual;
}
.menu .description span {
  overflow-wrap: break-word;
  color: #00c0ff;
  font-weight: 900;
}
.link {
  display: none;
  width: 100%;
  height: 100vh;
  text-align: center;
  justify-content: center;
  align-items: center;
}
a {
  font-size: 2rem;
  color: white;
  border: 1px solid white;
  padding: 0.4rem;
}
.game__page {
  width: 100%;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.game__page.active {
  display: flex;
}

.game__page p {
  font-size: 2rem;
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  text-align: center;
}
.game__page .information {
  display: flex;
  gap: 0.4rem;
}
.board {
  width: 450px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
.board .row {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.board .row:nth-child(3) {
  margin-bottom: 0.25rem;
}
.board .row:nth-child(6) {
  margin-bottom: 0.25rem;
}
.cube__for__number {
  width: 60px;
  height: 100%;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.671);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5rem;
}
.cube__for__number:nth-child(4) {
  margin-left: 0.25rem;
}
.cube__for__number:nth-child(7) {
  margin-left: 0.25rem;
}
.numbers__for__selection {
  width: 540px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.numbers__for__selection div {
  width: 60px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.925);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border: 1px solid;
  color: white;
  cursor: pointer;
}
.numbers__for__selection div:nth-child(1) {
  border: 4px white solid;
}
@media screen and (max-width: 572px) {
  .board {
    width: 360px;
    height: 360px;
  }
  .cube__for__number {
    width: 40px;
  }
  .board .row {
    height: 40px;
  }
  .numbers__for__selection {
    width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .numbers__for__selection div {
    height: 40px;
  }
  .board {
    width: 320px;
    height: 320px;
  }
  .cube__for__number {
    width: 30px;
  }
  .board .row {
    height: 30px;
  }
  .menu .rules p {
    font-size: 0.7rem;
  }
}
